<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

 
	<link rel="stylesheet" href="assets/demo.css">
	<link rel="stylesheet" href="assets/header-fixed.css">
	<link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>

</head>

<body>

<header th:fragment="myheader" class="header-fixed">

	<div class="header-limiter">

 	  		<h1> <a target="_blank" href="https://www.teamcomputers.com">
		         <img th:src="@{/images/logo.png}" alt="Team-logo"></a></h1>
 
		<nav>
					<a th:href="@{/}" style="font-weight: bold;">Home</a>
		 			<a th:href="@{/dashboard}" style="font-weight: bold;">Dashboard</a>
					<a th:href="@{/register}" style="font-weight: bold;">Register</a>
					<a th:href="@{/hierarchy}" style="font-weight: bold;">Hierarchy</a>
			
			<a>Welcome <span style="font-weight: bold;" th:text="${user.firstName}"></span></a>
		 	<a th:href="@{/logout}" >Logout</a>
 		</nav>

	</div>

</header>

 <div class="header-fixed-placeholder"></div>
 
</body>

</html>
