<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/stepform.css}" >
<link rel="stylesheet" th:href="@{/css/mystyle.css}" >
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script th:src="@{/js/custom.js}"></script>
<!------ Include the above in your HEAD tag ---------->

 <header th:replace="header::myheader"> 
 </header>

 <div style="height:70px;"></div>
    <div class="assessment-container container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 form-box">
                <form role="form" class="registration-form" action="javascript:void(0);" th:action="@{/do_register}" method="post" th:object="${employee}">
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Register Form</h3>
                                
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div th:if="${registration_success}" class="alert alert-success" th:text="${registration_success}">
	                        </div>
	                 
			                 <div th:if="${registration_failure}" class="alert alert-danger" th:text="${registration_failure}">
			                 </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="First Name" id="fname" name="firstName">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Last Name" id="lname" name="lastName">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom:3px;">
                                <div class="row">
                                    
                                    <div class="form-group col-md-12 col-sm-12">
                                        <input type="text" class="form-control" placeholder="Mobile Number" id="mobile_number" name="mobileNo">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Enter Email" class="form-email form-control" id="email" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="designation" placeholder="Enter Designation" class="form-control" id="designation" required>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="branch" placeholder="Enter Branch" class="form-control" id="branch" required>
                            </div>
                            
                             <div class="form-group">
                                <input type="text" name="qualification" placeholder="Enter Qualification" class="form-control" id="qualification" required>
                            </div>
                           
                            <div class="form-group">
                                <select class="form-control" name="gender">
                                    <option>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Register Form</h3>
                              
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <select class="form-control" name="roleId" required>
                                    <option value="">Select Role Name</option>
							        <option th:each="role : ${empRole}"
						            th:text="${role.roleName}" th:value="${role.roleId}"></option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <select class="form-control" name="departmentId" required>
                                    <option value="">Select Department Name</option>
							        <option th:each="dept : ${empDepartment}"
						            th:text="${dept.deptName}" th:value="${dept.deptId}"></option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                        </div>
                    </fieldset>
                    
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><span><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>Register Form</h3>
                              
                            </div>
                        </div>
                        <div class="form-bottom">
                           <div class="form-group">
                                <select class="form-control" id="headDesignation" required>
                                    <option value="">Select Head Designation</option>
                                    <option th:each="employee : ${employees}"
						            th:if="${employee}" th:value="${employee.designation}" th:text="${employee.designation}"></option>
                                    
                                    <option th:unless="${employee}" value="CEO">CEO</option>
							        
                                </select>
                            </div>
                         
                            <div class="form-group">
                                <select class="form-control" name="headEmail" id="headEmail" required>
                                    <option value="">Select Head Email Address</option>
                                    <option th:each="employee : ${employees}"
						            th:if="${employee}" th:value="${employee.email}">
						               <span th:text="${employee.firstName}"></span>
						               <span th:text="${employee.lastName}"></span>
						               - <span th:text="${employee.email}"></span>
						            </option>
                                    
							        <option th:unless="${employee}" value="ranjan.chopra@teamcomputers.com">Ranjan Chopra - ranjan.chopra@teamcomputers.com</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="submit" class="btn">Register</button>
                        </div>
                    </fieldset>
                    
                </form>
            </div>
        </div>
    </div>
    
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
   <script>
    $(document).ready(function() {
             
    	$('#headDesignation').on('change', function() {
    		  var headDesignation = this.value;
    		      if(headDesignation !== "")
    			  {
    		    	  $.ajax({
    		    	        type:"post",
    		    	        data: {"headDesignation":headDesignation},
    		    	        url:"/headInfo",
    		    	        async: false,
    		    	        success: function(response){
    		    	        	//console.log(response);
	                    		var emailBox = document.getElementById("headEmail");
	                    		$('#headEmail').find('option').remove();
	                    		var emails = response.replace('[', "").replace(']',"");
	                    		if(emails === "")
	                            {
	                    			var defaultEmail = document.createElement("option");
	                    			defaultEmail.text = "Ranjan Chopra - ranjan.chopra@teamcomputers.com";
	                    			defaultEmail.value = "ranjan.chopra@teamcomputers.com";
	                    			emailBox.add(defaultEmail);
	                    	    }
	                    		else
	                    	    {
	                    			var defaultEmail = document.createElement("option");
	                    			defaultEmail.text = "Select Head Email Address";
	                    			defaultEmail.value = "";
	                    			emailBox.add(defaultEmail);	
	                    			
	                    			 var email = emails.split(",");
	                    		     for(i=0; i < email.length; i++)
	                    		    	{
	                    		    	   var option = document.createElement("option");
	                    		    	   option.text = option.value = email[i];
	                    		    	   emailBox.add(option);
	                    		    	}
	                    		}
	                    	
    		    	          },
    		    	          error : function() {
    		    	        	  console.log('Failed');
    		    	          }
    		    	     });
    			  }
         });
    	
	   });
    </script>
    
   </html> 