<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<link rel="stylesheet" th:href="@{/css/mystyle.css}" >
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
     <section> 
	   <div class="login-dark">
	        <form id="resetForm" th:action="@{/reset}" method="post">
	            <h2 class="sr-only text-center">Reset Password Form</h2>
	          
	            <div th:if="${reset_failure}" class="alert alert-danger" th:text="${reset_failure}">
	            </div>
	            <div th:if="${reset_success}" class="alert alert-success" th:text="${reset_success}">
	            </div>
	            
	            <div id="form-error" style="display:none;">
	                <div class="alert alert-danger" >Please Enter Confirm Password Same as Password</div>
	            </div>
	          
	            <div class="illustration"><i class="icon ion-key"></i></div>
	           
	            <input type="hidden" name="employee-email" th:value="${email}">
	            
	            <div class="form-group">
	               <input class="form-control" type="password" name="password" id="pass1" placeholder="Enter New Password" required>
	             </div><br>
	            <div class="form-group">
	               <input class="form-control" type="password" name="confirm-password" id="pass2" placeholder="Enter Confirm Password" required>
	            </div>
	            <div class="form-group text-center">
	               <button class="btn btn-primary btn-block" type="submit">Reset</button>
	               <a class="btn btn-login btn-block" th:href="@{/signin}">Login</a>
	            </div>
	        </form>
	    </div>  
   </section>
   
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
   <script>
	   $(document).ready(function() {
		
		   $("#resetForm").on("submit", function(event){
			   var pass1 = $("#pass1").val();
			   var pass2 = $("#pass2").val();
			   
			       if(pass1 !== pass2)
				   {
			    	   $("#form-error").show();
			    	   event.preventDefault();
				   }
			       else
			       {
			    	   $("#form-error").hide();
			       }	   
			   
			 });
		});
   </script>
   
</body>
</html>